/* Colors */
/* Fonts */
@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie-Regular'), url(https://fonts.gstatic.com/s/cookie/v10/syky-y18lb0tSbf9kgqX.ttf) format('truetype');
}
@font-face {
  font-family: 'Grand Hotel';
  font-style: normal;
  font-weight: 400;
  src: local('Grand Hotel'), local('GrandHotel-Regular'), url(https://fonts.gstatic.com/s/grandhotel/v6/7Au7p_IgjDKdCRWuR1azplQKGFk.ttf) format('truetype');
}
@font-face {
  font-family: 'Kristi';
  font-style: normal;
  font-weight: 400;
  src: local('Kristi Regular'), local('Kristi-Regular'), url(https://fonts.gstatic.com/s/kristi/v10/uK_y4ricdeU6zwdhDRcX.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v13/0QIvMX1D_JOuMwr7Jg.ttf) format('truetype');
}
@font-face {
  font-family: 'Loved by the King';
  font-style: normal;
  font-weight: 400;
  src: local('Loved by the King'), local('LovedbytheKing'), url(https://fonts.gstatic.com/s/lovedbytheking/v8/Gw6gwdP76VDVJNXerebZxUMeRXUF2MiKn3U.ttf) format('truetype');
}
@font-face {
  font-family: 'Rouge Script';
  font-style: normal;
  font-weight: 400;
  src: local('Rouge Script'), local('RougeScript-Regular'), url(https://fonts.gstatic.com/s/rougescript/v7/LYjFdGbiklMoCIQOw1Ep3S4_U__f.ttf) format('truetype');
}
@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url(https://fonts.gstatic.com/s/sanchez/v6/Ycm2sZJORluHnXbIfmlR-A.ttf) format('truetype');
}
.home .landing {
  width: 100%;
  height: calc(100vh - 59px);
  position: relative;
}
.home .landing .back-img {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home .landing .back-img .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.4);
}
.home .landing .back-img img {
  min-width: 100%;
  height: 100%;
}
.home .landing .main-carousel {
  width: 100%;
  height: 100%;
}
.home .landing .main-carousel .carousel-img-container {
  display: inline-block;
  width: 55%;
  background: #ffffff;
  padding: 10px;
}
.home .landing .main-carousel .carousel-img-container .carousel-img {
  width: 100%;
}
.home .section {
  background: #ffffff;
  padding: 40px 5% 70px;
  text-align: center;
  position: relative;
}
.home .section.welcome h1 {
  font-weight: bold;
  color: #228b22;
}
.home .section.welcome .brace {
  margin-bottom: 30px;
}
.home .section p {
  font-size: 1.3rem;
  line-height: 2.2rem;
}
.home .section .btn {
  position: relative;
  z-index: 5;
  margin-top: 10px;
  color: #000;
  background: rgba(252, 221, 201, 0.1) !important;
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
  opacity: 0.6;
  transition: 0.5s all ease;
  cursor: pointer;
}
.home .section .btn:hover {
  opacity: 1;
}
.home .section .split-section {
  display: flex;
}
.home .section .split-section .split-content {
  padding: 5px;
  flex: 1;
}
.home .section .split-section .split-content.text {
  padding: 12px;
}
.home .section .split-section .img-container {
  width: 100%;
  padding: 10px;
  background: #ffffff;
  overflow: hidden;
  border: 1px solid rgba(50, 50, 50, 0.2);
}
.home .section .split-section .img-container img {
  width: 100%;
}
.home .spacer {
  width: 100%;
  height: 500px;
  position: relative;
}
.home .spacer.right {
  text-align: right;
}
.home .spacer .back-img {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home .spacer .back-img .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.4);
}
.home .spacer .back-img img {
  min-width: 100%;
  height: 100%;
}
.home .spacer .date {
  font-weight: 900;
  font-size: 500px;
  line-height: 320px;
  padding: 0px 5%;
  display: block;
  color: #ffffff;
  position: relative;
}
.home .spacer .date .number {
  display: inline-block;
  position: relative;
  color: rgba(50, 50, 50, 0.5);
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.home .spacer .date .number.c1 {
  color: rgba(34, 139, 34, 0.5) !important;
}
.home .spacer .date .number.c2 {
  color: rgba(220, 220, 220, 0.5) !important;
}
.home .spacer .date .number.c3 {
  color: rgba(252, 221, 201, 0.5) !important;
}
.home .spacer .date .number:before,
.home .spacer .date .number:after {
  position: absolute;
  content: attr(data-number);
  transform-origin: top left;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.home .spacer .date .number:before {
  color: #fff;
  z-index: 3;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}
.home .spacer .date .number:after {
  color: rgba(0, 0, 0, 0.03);
  z-index: 2;
  transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}
.home .spacer .date .number:hover:before {
  color: #fafafa;
  transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}
.home .spacer .date .number:hover:after {
  transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg, 22deg);
}
body,
html {
  margin: 0px !important;
  color: #000000;
  height: 100%;
  font-size: 14px;
  font-family: 'Sanchez', serif;
}
*:focus {
  outline: none;
}
.navbar {
  z-index: 100;
  background: #fcddc9 !important;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.5);
  -moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.5);
  box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.5);
}
.navbar .navbar-brand {
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
  color: #228b22 !important;
}
.navbar .navbar-brand.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center;
  margin-left: -80px;
}
@media (max-width: 770px) {
  .navbar .navbar-brand.navbar-brand-centered {
    position: relative;
    left: initial;
    width: initial;
    margin-left: initial;
  }
}
.navbar .navbar-brand .initialLogo {
  padding-top: 40px;
}
.navbar .navbar-brand .initialLogo .initial-wrapper {
  background: #ffffff;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  display: inline-block;
  font-family: 'Kristi', cursive;
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .nav-item {
  font-size: 1.5rem;
  color: #000000;
  font-family: 'Cookie', cursive;
}
.navbar .nav-item + .nav-item {
  margin-left: 20px;
}
@media (max-width: 770px) {
  .navbar .nav-item + .nav-item {
    margin-left: initial;
  }
}
.navbar .nav-right {
  margin-right: 25%;
}
@media (max-width: 770px) {
  .navbar .nav-right {
    margin-right: initial;
  }
}
.navbar .nav-left {
  margin-left: 25%;
}
@media (max-width: 770px) {
  .navbar .nav-left {
    margin-left: initial;
  }
}
.page-body {
  min-height: 100vh;
  padding-top: 59px;
}
h1 {
  font-family: 'Cookie', cursive;
  font-size: 3.5rem;
}
.border-style1 {
  padding: 20px 7px;
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
}
.border-style1.c1 {
  border: 1px dashed #228b22;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #228b22, 0 0 0 10px #fff, 0 0 2px 10px rgba(34, 139, 34, 0.3);
}
.brace {
  width: auto;
  min-width: 35px;
  padding-bottom: 20px;
  font-size: 2em;
  line-height: 2em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin: 0 15px 15px;
  border: none;
  background-color: transparent;
  background-image: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 14.5px, #228b22 15.5px, #228b22 19.5px, rgba(255, 255, 255, 0) 20.5px), radial-gradient(circle at 35px 0, rgba(255, 255, 255, 0) 14.5px, #228b22 15.5px, #228b22 19.5px, rgba(255, 255, 255, 0) 20.5px);
  background-size: 35px 20px;
  background-position: center bottom;
  background-repeat: no-repeat;
  text-transform: lowercase;
  font-style: italic;
  color: #228b22;
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
  overflow: visible;
}
.brace:before {
  width: 50%;
  border-top: 5px solid #228b22;
  border-left: 1px solid transparent;
  border-top-left-radius: 20% 30px;
  height: 100%;
  content: "";
  position: absolute;
  top: 100%;
  left: -15px;
  box-sizing: border-box;
  margin-top: -5px;
}
.brace:after {
  width: 50%;
  border-top: 5px solid #228b22;
  border-right: 1px solid transparent;
  border-top-right-radius: 20% 30px;
  height: 100%;
  content: "";
  position: absolute;
  top: 100%;
  right: -15px;
  box-sizing: border-box;
  margin-top: -5px;
}
/* carousel */
.site-carousel .carousel {
  width: 100%;
  height: 100%;
}
.site-carousel .carousel .slider-wrapper {
  width: 100%;
  height: 100%;
}
.site-carousel .carousel .slider-wrapper .slider {
  width: 100%;
  height: 100%;
}
.site-carousel .carousel .slider-wrapper .slider .slide {
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  justify-content: center;
}
.site-carousel .carousel .slider-wrapper .slider .slide .carousel-page {
  display: block;
  text-align: center;
}
