@mobile-device: ~"(max-width: 770px)";

/* Colors */
@color1: rgba(34,139,34,1);
.color1(@prop,@val){ @{prop}: rgba(34,139,34,@val) !important; }

@color2: rgba(220,220,220,1);
.color2(@prop,@val){ @{prop}: rgba(220,220,220,@val) !important; }

@color3: rgba(252,221,201,1);
.color3(@prop,@val){ @{prop}: rgba(252,221,201,@val) !important; }

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Kristi|Loved+by+the+King|Cookie|Grand+Hotel|Lora|Rouge+Script|Sanchez');
@font-size: 14px;

@brace-color: rgba(0,0,0,1);
@navHeight: 59px;

@import "home.less";

body, html { 
    margin: 0px !important;
    color: rgba(0,0,0,1);
    height: 100%;
    font-size: @font-size;    
    
    //font-family: 'Kristi', cursive;
    //font-family: 'Loved by the King', cursive;
    
    //font-family: 'Lora', serif;
    //font-family: 'Cookie', cursive;
    //font-family: 'Grand Hotel', cursive;
    //font-family: 'Rouge Script', cursive;
    font-family: 'Sanchez', serif;
}
*:focus { outline: none;}

.navbar {        
    z-index: 100;
    background: @color3 !important;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 10px 6px -6px rgba(119,119,119,0.5);
	   -moz-box-shadow: 0 10px 6px -6px rgba(119,119,119,0.5);
            box-shadow: 0 10px 6px -6px rgba(119,119,119,0.5);
            
    .navbar-brand {
        font-family: 'Reenie Beanie', cursive;
        font-size: 40px;
        color: @color1 !important;

        &.navbar-brand-centered {
            position: absolute;
            left: 50%;
            display: block;
            width: 160px;
            text-align: center;

            margin-left: -80px;

            @media @mobile-device { position: relative; left: initial; width: initial; margin-left: initial;  }
        }

        .initialLogo {
            padding-top: 40px;
            .initial-wrapper{
                background: rgba(255,255,255,1);
                width: 67px;
                height: 67px;
                border-radius: 50%;
                display: inline-block;
                font-family: 'Kristi', cursive;
                border: 1px dashed #ddd;
                box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
            }
        }
    }

    .navbar-toggler {
        border: none;
    }
    .nav-item {
        font-size: 1.5rem;
        color: rgba(0,0,0,1);
        font-family: 'Cookie', cursive;
        &+.nav-item { margin-left: 20px; @media @mobile-device { margin-left: initial; }}
    }

    .nav-right { margin-right: 25%; @media @mobile-device { margin-right: initial; }}
    .nav-left { margin-left: 25%; @media @mobile-device { margin-left: initial; }}
}

.page-body {
    min-height: 100vh;
    padding-top: @navHeight;
}
h1 { font-family: 'Cookie', cursive; font-size: 3.5rem;}

.border-style1 {
    padding: 20px 7px;
    border: 1px dashed #ddd;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;

    &.c1 { border: 1px dashed @color1; box-shadow: 0 0 0 3px #fff, 0 0 0 5px @color1, 0 0 0 10px #fff, 0 0 2px 10px rgba(34,139,34,0.3);}
}


.brace {
    width: auto;
    min-width: 35px;
    padding-bottom: 20px;
    font-size: 2em;
    line-height: 2em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 0 15px 15px;
    border: none;
    background-color: transparent;
    background-image: radial-gradient(circle at 0 0, rgba(255,255,255,0) 14.5px, @color1 15.5px, @color1 19.5px, rgba(255,255,255,0) 20.5px), radial-gradient(circle at 35px 0, rgba(255,255,255,0) 14.5px, @color1 15.5px, @color1 19.5px, rgba(255,255,255,0) 20.5px);
    background-size: 35px 20px;
    background-position: center bottom;
    background-repeat: no-repeat;
    text-transform: lowercase;
    font-style: italic;
    color: @color1;
    -webkit-filter: drop-shadow(0 1px 1px rgba(0,0,0,0.15));
    filter: drop-shadow(0 1px 1px rgba(0,0,0,0.15));
    overflow: visible;
  
    &:before {
        width: 50%;
        border-top: 5px solid @color1;
        border-left: 1px solid transparent;
        border-top-left-radius: 20% 30px;
        height: 100%;
        content: "";
        position: absolute;
        top: 100%;
        left: -15px;
        box-sizing: border-box;
        margin-top: -5px;
    }
    
    &:after {
        width: 50%;
        border-top: 5px solid @color1;
        border-right: 1px solid transparent;
        border-top-right-radius: 20% 30px;
        height: 100%;
        content: "";
        position: absolute;
        top: 100%;
        right: -15px;
        box-sizing: border-box;
        margin-top: -5px;
    }
}

/* carousel */
.site-carousel {
    .carousel {
        width: 100%;
        height: 100%;
        .slider-wrapper {
            width: 100%;
            height: 100%;
            .slider {
                width: 100%;
                height: 100%;
                .slide  {
                    width: 100%;
                    height: 100%;
                    background: none;
                    display: flex;
                    justify-content: center;
                    .carousel-page { display: block; text-align: center; }
                }
            }
        }
    }
}